/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 1px;
    padding: 3px;
    justify-content: space-between;
    z-index: 1;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background: rgb(240, 215, 178);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  .ml-10 {
    margin-left: 10px;
    padding: 2px;
  }

  .button img {
    height: 2rem;
    float: left;
    position: relative;
    z-index: 1;
  }