
.edit-item {
    margin-bottom: 3vh;
    margin-left: 7rem;
    margin-right: 7rem;
}

.lbl-header {
    display: block;
    text-align: left;
    padding-left: 1rem;
}

.inputs {
    width: 100%;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}

.btn-group {
    margin-left: -2.5rem;
    cursor: pointer;
}

.btn-edit {
    margin: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5rem;
}

.gender-container {
    display: block;
}

.gender {
    display: inline;
    margin-right: 2.5rem;
    cursor: pointer;
}

.gender input {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.gender label{
    cursor: pointer;
    padding-left: 7px;
}

.interests-container {
    display: block;
    width: 22rem;
    padding-bottom: 7rem;
}

.interests-container input {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.2rem;
}

.interests-container span {
    float: left;
    margin-right: 1rem;
}

/* --------------------------------------- Mobile view ------------------------------------------------- */

@media only screen and (max-width: 700px){
    /* Mobile view horizontal*/
    
    .edit-item{
        margin-bottom: 3vh;
        margin-left: 0.3rem;
        margin-right: 0.7rem;
    }
}
