.guidelist {
  margin-top: 20px;
  padding: 60px;
  width: 100%;
  align-items: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.filtertxt {
  font-size: 24px;
  text-align: center;
}

.guideitemcont {
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
