.guideitem {
  padding: 20px;
  width: 99%;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: color 200ms;
}
.gttitle {
  font-size: 50px;
  text-align: center;
}
.post__avatar {
  margin-right: 10px;
}

/* .itemheader {
  display: flex;
  
} */

.itemheader {
  float: left;
  padding: 0.2rem;
  height: 8rem;
  width: 8rem;
  border: 1px solid;
  border-radius: 50% 50% 50% 50%;
}
.itemheader h3 {
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.languages {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.languages{
  padding: 0.2rem;
  height: 3rem;
  width: 3rem;
}

.languages-label {
  font-size: 1.3rem;
}

#price {
  text-align: right;
  font-size: 25px;
  font-weight: 700;
}

.username {
  float: inline-end;
  font-size: 2.3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.Rating {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}


/* --------------------------------------- Mobile view ------------------------------------------------- */

@media only screen and (max-width: 700px){
  /* Mobile view horizontal*/
  .guideitem {
    padding: 0.3rem;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .itemheader {
    display: block;
    float: left;
  }

  .itemheader {
    padding: 0.2rem;
    height: 5rem;
    width: 5rem;
  }

  .username {
    font-size: 1.5rem;
  }

  .languages {
    padding: 0.2rem;
    height: 2rem;
    width: 2rem;
  }
  
  .languages-label {
    font-size: 1rem;
  }

  #price {
    float: right;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .Rating {
    left: -5%;
  }
  
}