#main{

    margin: 200px auto;
    display: "block",
}
#card{
  display: block;
  padding: 3rem;
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.2);
}
#mainText{
  display: block;
  text-align: center;
  color: black;
}


/* #image{

  display: block;
  margin: auto;
  margin-right: "auto";
  width: "30%";
} */


  body {
      margin: 0;
  }
  #map {
      width: 0;
      height: 0;
      background-color:transparent;
      display: none;
  }
  #search-box {
      padding-left: 20px;
      padding-top: 20px;
      width: 800px;
      height: 100px;
  }
  #result {
      padding-left: 20px;
      padding-top: 20px;
      width: 800px;
      height: 100px;
  }
  .leaflet-locationiq-results{
      padding-top: 45px;
  }
