#sidebar{
  background:rgba(252, 252, 252, 0.336);
  
  /* background: #c34a36; */
  width: 270px;
  height: 100vh;
}

#btn:hover{
  background:rgba(252, 252, 252, 0.336);

}

#button{
  display: block;
  margin: 1rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    background:rgba(252, 252, 252, 0.336);
    

    /* background: rgba(0, 0, 0, 0.2); */
}
#buttonLogout{
  float: right;;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px 15px 15px 15px;
  background:rgba(252, 252, 252, 0.336);

  /* background: rgba(0, 0, 0, 0.3); */
}
#text{
  padding-left:40px;
  padding-top:5px;
  color: black;
}

#textM{
  padding-left:30px;
  padding-top:5px;
  color: black;
}
#mainName{
  display: block;
  margin: 1rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    background:rgba(252, 252, 252, 0.336);

    /* background: rgba(0, 0, 0, 0.3); */
}